// Globals
$global-font-size: 100%;
$global-font-family: 'BRFirma', sans-serif;

// Body styles
$body-font-size: $global-font-size;
$body-font-color: #1c1d1f;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-dense: 500;
$font-weight-medium: 600;
$font-weight-bold: 900;

// Font Size
$font-size-32: 32;
$font-size-24: 24;
$font-size-20: 20;
$font-size-18: 18;
$font-size-16: 16;
$font-size-14: 14;
$font-size-13: 13;
$font-size-12: 12;
$font-size-10: 10;
