@import '~assets/styles/shared-styles.scss';

.btn {
    @extend %button;
    border-radius: to-rem(3);
    font-family: $global-font-family;
    font-size: to-rem($font-size-14);
    font-weight: $font-weight-medium;

    &:active,
    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:hover {
        opacity: 0.8;
    }

    &.btnPrimaryViolet {
        background: color(VioletRed);
        color: color(White);
    }

    &.btnLarge {
        padding: to-rem(15px 0);
    }

    &.btnH35 {
        height: to-rem(35);
        line-height: to-rem(28) !important;
        padding-top: to-rem(5) !important;
    }
}
